.section__projects {
  width: 100%;
  margin-top: 50px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: var(--box-shadow);
  padding-bottom: 50px;
}

.section__projects__content{
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

.section__projects__button{
  margin-top: 50px;
}

.flip-card.is-flipped .flip-card-inner {
  transform: rotateY(180deg);
}

