---
import Title from "../components/Title.astro";
import Layout from "../layouts/Layout.astro";

import "../styles/sectionWhoAreWe.css";
import "../styles/sectionPartners.css";
import "../styles/sectionMisionVision.css";
---

<Layout>
  <section class="section__whoAreWe">
    <Title text="¿Quiénes somos?" />
    <div class="section__whoAreWe__content">
      <div class="section__whoAreWe__content__image">
        <img src="" alt="" class="section__whoAreWe__content__image--img" />
      </div>
      <div class="section__whoAreWe__content__text">
        <p>
          <span>EDEL'S GROUP</span> es una empresa innovadora confiable, y segura
          para los proyectos que incluyan ascensores como medio de transporte, tanto
          para edificaciones nuevas como existentes. Dedicamos el tiempo que sea
          necesario para asesorarte y enseñarte qué debes tener en cuenta a la hora
          de comprar un ascensor para que tomes la mejor decisión financiera y técnica..
        </p>
      </div>
    </div>
  </section>
  <section class="section__history">
    <Title text="Nuestra Historia" />
    <div class="section__history__content">
      <div class="section__history__content__text">
        <p>
          EDEL ASCENSORES nace en abril de 2014, una empresa Vallecaucana, con
          inversión de capital Español. En Junio de 2014 se inician nuestras
          operaciones en la ciudad de Cali, desde nuestra oficina ubicada en el
          tradicional Edificio Palacio Rosa en la Avenida Sexta de Cali. En
          Agosto de 2015 importamos nuestros primeros seis ascensores, para una
          de las más grandes y prestigiosas constructoras del Valle del Cauca.
          Gracias a Dios, al trabajo bien hecho, la calidad de los equipos y el
          compromiso de nuestros colaboradores, hemos logrado crecer de manera
          equilibrada y responsable, esforzándonos cada día más por contribuir
          al bienestar de nuestros clientes a través de equipos de elevación
          vertical, seguros y confiables. Hacen parte de nuestra historia y
          extendemos nuestro agradecimiento, a todas las personas y entidades
          que han contribuido al crecimiento de esta empresa; Socios,
          colaboradores, Clientes, aliados comerciales, proveedores, familia,
          amigos y conocidos “Juntos lo hemos Logrado” Hoy 10 años después,
          iniciamos una nueva etapa como ASCENSORES EDEL’S GROUP, aplicando
          nuevas técnicas y estrategias para el mejoramiento continuo de
          nuestros procesos, renovados y con la satisfacción de haber entregado
          más de 100 equipos con altos estándares de calidad, continuamos llenos
          de expectativas, trabajando incansablemente para continuar
          construyendo historia…
        </p>
      </div>
      <div class="section__history__content__image">
        <img src="" alt="" class="section__history__content__image--img" />
      </div>
    </div>
  </section>
  <section class="section__misionVision">
    <div>
      <Title text="Mision" />
      <div class="section__misionVision__mision">
        <p>
          Nuestra empresa tiene como propósito contribuir de manera importante
          al desarrollo social y el bienestar de las personas, instalando
          equipos elevadores de última tecnología con medidas estándar y
          personalizados, que garanticen la seguridad, calidad y confort,
          ajustándonos a las necesidades y los cambios del mercado
        </p>
      </div>
    </div>
    <div>
      <Title text="Vision" />
      <div class="section__misionVision__vision">
        <p>
          Ser en el año 2027 la empresa con mayor crecimiento en el sector del
          Transporte Vertical en Colombia, comercializando y manteniendo
          ascensores altamente confiables, robustos y con tecnología de punta,
          construyendo relaciones de largo plazo con nuestros clientes
        </p>
      </div>
    </div>
  </section>

  <!-- <section class="section__partners">
    <Title text="Socios Fundadores" />

    <div class="section__partners__content">
      <div class="section__partners__partner">
        <div class="section__partners__partner__image">
          <img class="section__partners__partner__image--img" src="" alt="" />
        </div>
        <div class="section__partners__partner__info">
          <h3 class="section__partners__partner__info__name">Elkin Muñoz Delgado</h3>
          <span class="section__partners__partner__info__jobPosition">Cargo</span>
        </div>
      </div>
      <div class="section__partners__partner">
        <div class="section__partners__partner__image">
          <img class="section__partners__partner__image--img" src="" alt="" />
        </div>
        <div>
          <h3 class="section__partners__partner__info__name">Francia Elena Villegas</h3>
          <span class="section__partners__partner__info__jobPosition">Cargo</span>
        </div>
      </div>
    </div>
  </section> -->
</Layout>
