---
import "../styles/MainButton.css";

const { href, className, _blank } = Astro.props;
---

<a
  target={_blank ? "_blank" : "_self"}
  class={`button__main ${className}`}
  href={href}
>
  <slot/>
</a>
